<div class="container">
    <h5>
        Você pode fazer doações mensais ao Instituto João Rodrigues por meio, depósito em conta, pix ou boleto bancário. 
        com o valor que desejar e ajude a transformar vidas.
    </h5>
    <div class="quadro-interno">
        <div class="texto-conta-bancaria">
            <p class="texto">
                Dados para contribuição
                <br>
                <br>
                Banco: Banco do Brasil
                <br>
                Ag: 2591-7
                <br>
                Cc: 59580-2
                <br>
                <br>
                Pix CNPJ: 51.354.717/0001-72
            </p>
        </div>

        <p class="ou">OU</p>


        <div class="cards-valor">
            <div class="card">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="valor" id="valor1" [value]="50" (change)="onRadioChange($event)">
                <div>
                  <label class="form-check-label" for="valor1"><h4>Doe R$50,00</h4></label>
                  <label class="form-check-label por-dia" for="valor1">R$1,67 por dia</label>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="valor" id="valor2" [value]="150" (change)="onRadioChange($event)">
                <div>
                  <label class="form-check-label" for="valor2"><h4>Doe R$150,00</h4></label>
                  <label class="form-check-label por-dia" for="valor2">R$5,00 por dia</label>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="valor" id="valor3" [value]="200" (change)="onRadioChange($event)">
                <div>
                  <label class="form-check-label" for="valor3"><h4>Doe R$200,00</h4></label>
                  <label class="form-check-label por-dia" for="valor3">R$6,67 por dia</label>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="form-check">
                <input 
                  class="form-check-input" 
                  type="radio" 
                  name="valor" 
                  id="valor4"
                  [value]="'custom'" 
                  (change)="onRadioChange($event)"
                >
                <div>
                  <label class="form-check-label" for="valor4"><h4>Doe outro valor</h4></label>
                  <input 
                    type="text" 
                    class="form-control" 
                    id="formGroupExampleInput" 
                    placeholder="Digite o valor" 
                    [(ngModel)]="inputValue" 
                    (input)="onInputChange($event)" 
                    mask="separator.2" 
                    prefix="R$ " 
                    suffix=",00"
                    thousandSeparator="." decimalMarker="," allowNegative="false"
                    [disabled]="!radioSelected"
                  >
                </div>
              </div>
            </div>
          
            <div class="btn-container">
              <button 
                (click)="validarEscolha()" 
                class="btn-doar btn btn-primary" 
                [disabled]="!radioSelected && valor === null && (inputValue === null || inputValue <= 0)"
              >Doar</button>
            </div>
          </div>  
    </div>
</div>