.fundo {
    background-image: url("../../../assets/img/image.png");
    width: 1024px;
    height: 70px;
}

@media screen and (max-width: 768px) {
    .fundo {
        width: 100vw;
        height: 60px;
    }

}

@media screen and (max-width: 450px) {
    .fundo {
        width: 100vw;
        height: 40px;
    }
}
