<!-- SOBRE O PROJETO -->
<div class="sobre-o-projeto">
    <div class="caixa-texto">
        <h1>Sobre o Projeto</h1>
        <p class="texto-sobre">
            O projeto conta com 40 alunos, com 5 aulas por semana, totalizando uma duração de quatro horas 
            diárias nos turnos matutino e vespertino.
        </p>
        <p class="texto-sobre">
            O propósito do INSTITUTO JOÃO RODRIGUES é apoiar crianças e jovens em sua jornada educacional, fornecendo 
            orientação e acompanhamento até que alcancem seu primeiro emprego. 
        </p>
        <p class="texto-sobre">
            A sala já está totalmente equipada com mesas, cadeiras, material de ensino, quadros, 
            e outros recursos.
        </p>
    </div>

        <app-carrousel-mini></app-carrousel-mini>
         <div></div>
</div>