/* PARCEIROS */
.parceiros {
    width: 1024px;
    height: 160px;
    background-color: #d0e9f0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-parceiros {
    font-size: larger;
    font-weight: 600;
    padding: 20px 0 10px 0;
}

.apoiadores {
    width: 950px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.apoiador img{
    width: 100px;
}

@media screen and (max-width: 768px) {
    .parceiros {
        background-color: #d0e9f0;
        width: 100vw;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        padding: 30px 0 30px 0;
    }

    .apoiadores {
        width: 100%;
        height: auto;
    
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-template-rows: 90px 90px ; 
        align-items: center;
        justify-content: center;

        gap: 30px;
    }

    .apoiador{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .titulo-parceiros {
        font-size: larger;
        font-weight: 600;
        padding: 0;
        margin: 0;  
    }
   
}

@media screen and (max-width: 450px) {
    .parceiros {
        background-color: #d0e9f0;
        width: 100vw;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 30px;
        padding: 30px 0 30px 0;
    }

    .apoiadores {
        width: 100%;
        height: auto;
    
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 90px 90px 90px; 
        align-items: center;
        justify-content: center;

        gap: 30px;
    }

    .apoiador{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }    

    .titulo-parceiros {
        font-size: larger;
        font-weight: 600;
        padding: 0;
        margin: 0;  
        text-align: center;
    }
}