<!-- PARCEIROS -->
<div class="parceiros">
    <p class="titulo-parceiros">NOSSOS PARCEIROS E APOIADORES</p>
    <div class="apoiadores">
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
        <div class="apoiador"><img src="../../../assets/img/valecard.png" alt="apoiador"></div>
    </div>
</div>