
  <nav class="navbar">
    <div class="container-fluids">
      <a [routerLink]="['']" routerLinkActive="active" class="navbar-brand" >Home</a>
      <a [routerLink]="['']" routerLinkActive="active" fragment="o-instituto" class="navbar-brand" >Instituto</a>
      <a [routerLink]="['']" routerLinkActive="active" class="navbar-brand" [routerLink]="['']" routerLinkActive="active">
        <img class="logo" src="/assets/img/logo.png" alt="logo">
      </a>
      <a [routerLink]="['']" routerLinkActive="active" fragment="metodologia" class="navbar-brand">Metodologia</a>
      <a [routerLink]="['/como-doar']" routerLinkActive="active"  class="navbar-brand">Como Doar</a>
    </div>
  </nav>



  
  <nav class="navbar450">
    <div class="container-fluids">
      <a [routerLink]="['']" routerLinkActive="active" class="navbar-brand" ><i class="fa-solid fa-house"></i></a>
      <a [routerLink]="['']" routerLinkActive="active" fragment="o-instituto" class="navbar-brand" ><i class="fa-solid fa-building-columns"></i></a>
      <a [routerLink]="['']" routerLinkActive="active" class="navbar-brand" [routerLink]="['']" routerLinkActive="active">
        <img class="logo" src="/assets/img/logo.png" alt="logo">
      </a>
      <a [routerLink]="['']" routerLinkActive="active" fragment="metodologia" class="navbar-brand"><i class="fa-solid fa-users-gear"></i></a>
      <a [routerLink]="['/como-doar']" routerLinkActive="active"  class="navbar-brand"><i class="fa-solid fa-hand-holding-dollar"></i></a>
    </div>
  </nav>
