<swiper-container 
  class="mySwiper" 
  slides-per-view="3" 
  centered-slides="false" 
  space-between="30" 
  pagination="true"
  pagination-type="fraction" 
  navigation="true"
>

  <swiper-slide><img src="../../../assets/img/c1.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c2.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c3.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c1.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c2.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c3.png" alt=""></swiper-slide>
  
</swiper-container>

<swiper-container 
  class="mySwiper2" 
  slides-per-view="2" 
  centered-slides="false" 
  space-between="30" 
  pagination="true"
  navigation="false"
>

  <swiper-slide><img src="../../../assets/img/c1.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c2.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c3.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c1.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c2.png" alt=""></swiper-slide>
  <swiper-slide><img src="../../../assets/img/c3.png" alt=""></swiper-slide>
  
</swiper-container>
