swiper-container {
  max-width: 950px;
  width: 950px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

swiper-container {
  width: 100%;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.mySwiper2{
  visibility: hidden;
  display: none;
}


@media screen and (max-width: 769px) {
  .mySwiper{
    visibility: visible;
  }

  .mySwiper2{
    visibility: hidden;
    display: none;
  }

  swiper-container {
    width: 80vw;
  }
  
  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media screen and (max-width: 450px) {
  .mySwiper{
    visibility: hidden;
    display: none;

  }

  .mySwiper2{
    visibility: visible;
    display: block;

  }

  swiper-container {
    width: 90vw;
  }
  
  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}