<!-- FRAME 1 -->
<div class="container-o-instituto" id="o-instituto">
    <div class="texto-frame-1">
        <h1>O Instituto João Rodrigues</h1>
        <p>
            O instituto tem como missão impulsionar o percurso educacional de crianças e jovens, guiando-os com dedicação 
            até que atinjam o marco do primeiro emprego.
        </p>
        <p>
            Este projeto não é apenas uma jornada educativa, mas um ponto de partida para diversas possibilidades, não apenas 
            no campo acadêmico, mas também para explorar territórios como esportes, artes e muito mais, proporcionando um apoio 
            integral ao desenvolvimento de talentos e paixões.
        </p>
    </div>

    <div class="imagem-container-frame-1">
        <img src="../../../assets/img/familia01.png" alt="foto de familia">
    </div>
</div>