<div class="container">
    <div class="infos">
        <i class="fa-solid fa-hand-holding-heart"></i>
        <div>Mais de <h1>{{alunosBeneficiados}}</h1> alunos <br> beneficiados</div>
    </div>

    <div class="infos">
        <i class="fa-solid fa-people-group"></i>
        <div>Mais de <h1>{{alunosBeneficiados}}</h1> empregos</div>
    </div>

    <div class="infos">
        <i class="fa-solid fa-handshake-angle"></i>
        <div>Mais de <h1>{{alunosBeneficiados}}</h1> voluntários</div>
    </div>
    
</div>