<!-- METODOLOGIA -->
<div class="container-metodologia">
    <div class="cabecalho-metodologia">
        <h1>Metodologia</h1>
        <p class="sub-titulo-metodologia">Utilizamos a metodologia Alicerce, que se sustenta em 03 pilares:</p>
    </div>

    <div class="cards">
        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-book-open" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">1° pilar</p>
                <p class="texto-card">Trilhas do conhecimento que ensinam escrita, leitura, matemática e ingles</p>
            </div>
        </div>

        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-children" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">2° pilar</p>
                <p class="texto-card">Habilidades para a vida que expande competências emocionais e sociais necessárias 
                    para o desenvolvimento pessoal, interpessoal e social
                </p>
            </div>
        </div>

        <div class="card1">
            <div class="icone-card"><i class="fa-solid fa-lightbulb" style="font-size: 90px;"></i></div>
            <div class="textos-card">
                <p class="texto-card">3° pilar</p>
                <p class="texto-card">Descoberta que promove a expansão do repertório cultural</p>
            </div>
        </div>
    </div>

    <div class="container-rodape">
        <p class="texto-rodape">
            Esses 3 pilares se tornam ainda mais efetivos por serem trabalhados de forma contínua e integrada a 
            construção de um Projeto de Vida. 
        </p>
        <p class="texto-rodape">Nosso compromisso é encontrar os caminhos para levar todos os alunos ao atingimento de suas metas.</p>
    </div>

 </div>